<head>
  <link href='../css/hackreactor_events.css' rel='stylesheet' type='text/css'>
  <title>Free Coding Workshops &amp; Lecture Events | Hack Reactor</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src='../javascripts/hackreactor_events.js'></script>
</head>

<body>
  <div class="navbar">
    <ul>
      <li><a href=#><img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3046/assets/images/logo/hack-reactor-logo.png"  style="width:125px; height:auto;"/></a></li>
      </li>
      <li><a href=#>Onsite</a></li>
      <li><a href=#>Remote</a></li>
      <li><a href=#>Prepare</a></li>
      <li><a href=#>Partnerships</a></li>
      <li><a href=#>Outcomes</a></li>
      <li><a href=#>Events</a></li>
      <li><a href=#>Scholorships</a></li>
      <li><button type="button" onclick="location.href='http://admissions.hackreactor.com/'">Apply Now</button></li>
    </ul>
  </div>

  <div class='banner centralize'>
    <div class='banner-title centralize'>
      <p>Experience Our Community’s Vibrant Energy at Our Coding Events</p>
    </div>
    <div class='banner-description centralize'>
      <p>Interested in a career in coding? Attend prep lectures, campus tours, and
        free coding workshops in person and online free of charge! Register Today.</p>
      </div>
    </div>

    <div class='info'>
      <div class='info-detail'>
        <img class='info-image' src='https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/icons/calendar-time--blue.png' />
        <p class='info-title'>Campus tours</p>
        <p class='info-text'>Come get a sense of the Hack Reactor vibe on a <a href="https://calendly.com/hackreactortours/">scheduled tour</a> of our light-filled campuses. Come for the views, stay for the career-changing coding program.</p>
      </div>
      <div class='info-detail'>
          <img class='info-image' src='https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/icons/code.png' />
          <p class='info-title'>Learn to Code</p>
          <p class='info-text'>Come join one of our workshops and learn how to code for free. Our coding workshops range from beginner-friendly to intermediate-friendly as we aim to help you get started on your journey of learning to code. Our goal is to offer these workshops as both a utility for learning the fundamentals of programming and as a teaser of our fun and intuitive teaching style that you will experience in a Hack Reactor paid program.</p>
      </div>
      <div class='info-detail'>
          <img class='info-image' src='https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/icons/social--blue.png' />
          <p class='info-title'>Guest Speakers</p>
          <p class='info-text'>Stop by one of our campuses to hear from coding experts in your local community. We're lucky to host experienced industry speakers at all our campuses and we welcome you to join the community and learn from them. From deeply technical talks to high-level discussions about the industry, you can find value in hearing it from the pros.</p>
      </div>
    </div>

    <div class='host-event-banner centralize'>
      <div class='host-event-banner-details centralize'>
        <h2>Would You Like to Host an Event at Hack Reactor?</h2>
        <p>Send us an email with your location and we will reach out to you shortly.</p>
        <a href='mailto:events@hackreactor.com'><button type='button'>Host an Event</button></a>
      </div>
    </div>
    <p class='event-header'>Upcoming Workshops &amp; Events</p>
    <div class='event-location'>

    </div>
    <div class='event-board'>

    </div>

    <div class='faq'>
      <h2>FAQ</h2>
      <div class='faq-question'>
        <p>What are the program start dates?</p>
      </div>
      <div class='faq-answer hide-answer'>
        <p>Hack Reactor Prep has rolling enrollment. Since the course is self-paced and online, you can join us at any time and work at your own pace and leisure.</p>
      </div>
      <div class='faq-question'>
        <p>Is this an in-person/live online course with scheduled days and times?</p>
      </div>
      <div class='faq-answer hide-answer'>
        <p>Nope! Hack Reactor Prep is fully online and self-paced. Students enrolled in Full Prep receive Mentor support remotely through video chat and direct messaging.</p>
      </div>
      <div class='faq-question'>
        <p>Am I guaranteed to get into Hack Reactor if I take Prep?</p>
      </div>
      <div class='faq-answer hide-answer'>
        <p>Hack Reactor Prep does not guarantee admittance into Hack Reactor's Immersive Programs. That said, 75% of students who interview after completing the course in its entirety are accepted to Hack Reactor.</p>
      </div>
      <div class='faq-question'>
        <p>It says there is a waitlist for Full Prep. What should i do?</p>
      </div>
      <div class='faq-answer hide-answer'>
        <p>We do have to cap the number of Full Prep students enrolled at any given time to ensure high-quality and timely support. We are able to move students off of the waitlist and into the course as others finish. Our advice: sign up for the waitlist, and then enroll in Basic Prep. This allows you to begin on the modules with automated feedback, which are the same for both versions of Prep, while you wait for a spot.</p>
      </div>
      <div class='faq-question'>
        <p>Do you have scholarships available for Prep?</p>
      </div>
      <div class='faq-answer hide-answer'>
        <p>We do not. That said, Basic Prep is 100% free and designed to allow you to fully prepare for the technical interview.</p>
      </div>
    </div>
  </body>
