<head>
  <link href='../css/main.css' rel='stylesheet' type='text/css'>
  <title>Hello World!</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src='../javascripts/main.js'></script>
</head>

<body>
  <h1>Hello World</h1>
  <button class='trigger'>Click me!</button>
  <!-- <div>
    <h1 class="centered">Hello World!</h1>
  </div>
  <div class='second'>
    <h1 class="centered">Hello Raeger</h1>
  </div> -->
</body>
